/*---------CSS for index.html--------*/

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';
    background-color: #f2f2f2;
    color: #333333;
    margin: 3% 5%;
}

h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
h3{
    font-size: 1.1rem;
    line-height: 1.3rem;
}
h4, p{
    font-size: 1rem;
    line-height: 1.2rem;
}
h5{
    font-size: .8rem;
    line-height: 1rem;
}
p{
    color: #828282;
}

li{
    list-style: none;
}
img{
    width: 100%;
    border-radius: .7rem;
}

button{
    font-size: .8rem;
    background: none;
    border: .1rem solid #4F4F4F;
    box-sizing: border-box;
    border-radius: .7rem;
    padding: .8% 2%;
    margin-right: .5%;
}
button:hover{
    cursor: pointer;
    background-color:#2F80ED;
    border-color: #2F80ED;
    color: #ffffff;
}

.card1, .card2{
    background-color: #ffffff;
    border-radius: .7rem;
    margin: 2.5% 0;
    padding: 1.8%;
}
.card2{
    padding: 5%;
}

.layout_grid{
    display: grid;
    grid-template:
            "p1 p3" 1fr
            "p2 p3" 1fr
            "p2 p4" 1.8fr/
            1fr 1.7fr ;
    gap:1% 3%;
}

/*----------Profile---------*/
.profile{
    display: flex;
    justify-content: space-between;
}
    .profile_img{
        width: 30%;
    }
    .profile_text{
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 3%;
    }
    .profile_text img{
        width: auto;
    }
    .profile_text_header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3%;
    }
    .name, .contacts{
        display: flex;
        flex-direction: column;
    }
    .email, .phone{
        display: flex;
        align-items: center;
        color: #333333;
    }
    .email_icon, .phone_icon{
        margin-right: 5%;
    }
    .profile p{
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin: 3% 0;
    }

/*----------Skills---------*/
.skill_list
{
    display: flex;
    flex-direction: column;
}
    .skill_list h3{
        margin-bottom: 3%;
    }
    .skill_list ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .skill{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3% 0;
    }
    .bar{
        width: 60%;
        height: 8px;
        background-color: #C4C4C4;
        border-radius: .7rem;
    }
    .bar_len{
        width: 40%;
        height: 100%;
        background-color: #2F80ED;
        border-radius: .7rem;
    }
    li:nth-child(2) .bar_len{
        width: 70%;
    }
    li:nth-child(3) .bar_len{
        width: 90%;
    }
    li:nth-child(5) .bar_len{
        width: 50%;
    }
    li:nth-child(6) .bar_len{
        width: 45%;
    }

/*----------Hobbies---------*/
.hobbies, .hobbies_cards_wrapper, .hobbies_card{
    display: flex;
    flex-direction: column;
}
    .hobbies_cards_wrapper, .experiences_cards_wrapper{
        margin-top: 8%;
    }
    .hobbies_card_img{
        height: 15vw;
        overflow: hidden;
        border-radius: .7rem;
    }
    .hobbies_cards_wrapper *{
        margin-bottom: 4%;
    }

/*----------Blog---------*/
.blog, .experiences, .projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .blog_header h2{
        margin-top: 3%;
    }
    .blog_header{
        display: flex;
        justify-content: space-between;
    }
    .blog_img{
        margin-left: 5%;
        width: 100%;
        overflow: hidden;
    }
    .blog_description *{
        margin: 5% 0;
    }
    .blog a{
        color: #2F80ED;
        text-decoration: none;
    }

/*----------Experiences---------*/
.experiences_cards_wrapper{
    margin: 8% 1.5% 0;
}
.experiences_card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}
    .experiences_card_img{
        width: 40%;
        margin:0 8% 6% 0;
    }
    .experiences_card_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .experiences_card_text h5{
        color:#828282;
        margin-bottom: 3%;
    }

/*----------Projects Filter---------*/
.projects_filter h3{
    margin-bottom: 2%;
}

/*----------Projects ---------*/
.projects{
    overflow: hidden;
}
.projects_cards_wrapper{
    display: flex;
    transition: transform 0.7s ease-in-out;
}
    .projects_card *{
        margin-bottom: 8%;
    }
    .projects_card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 28%;
        margin-right:2.3%;
    }
    .projects_card_btns{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .projects_card_btns a{
        width: 100%;
    }
    .demo{
        background-color: #828282;
        border-color: #828282;
        color: #ffffff;
    }
    .demo, .code{
        padding: 8% 30%;
        font-size: 1rem;
    }
    .pages{
        display: flex;
        justify-content: flex-end;
    }
    .page_btn{
        border-radius: 4px;
        padding: 1% 1.3%;
    }

/*----------Footer---------*/
footer{
    font-size: .8rem;
    text-align: center;
    margin: 5% 0 0;
}
    footer a{
        color: #828282;
    }

/*------------------Media Queries for Responsive Design----------------------------*/
@media screen and (max-width: 2560px) {
    html{
        font-size: 30px;
    }
}
@media screen and (max-width: 1920px) {
    html{
        font-size: 24px;
    }
}
@media screen and (max-width: 1440px) {
    html{
        font-size: 18px;
    }
}
@media screen and (max-width: 1336px) {
    html{
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px) {
    html{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 10px;
    }
    .hobbies_card_img{
        height: 20vw;
    }
}
@media screen and (max-width: 425px) {
    html{
        font-size: 12px;
    }
    button{
        border-radius: .5rem;
        margin-right: 2%;
    }
    .card1{
        padding: 5%;
    }
    .layout_grid{
        grid-template:
                "p1" .5fr
                "p2" 2fr
                "p3" 1fr
                "p4" 1fr/
                1fr ;
    }
    .profile{
        flex-direction: column;
    }
    .profile_img{
        align-self: center;
        width: 95%;
        margin-bottom:5%;
    }
    .profile_text{
        width: 100%;
    }
    .profile_text_header{
        flex-direction: column;
    }
    .hobbies_card_img{
        height: 35vw;
    }
    .projects_cards_wrapper{
        flex-direction: column;
        margin-bottom: 10%;
    }
    .projects_card{
        width: 90%;
    }
    .pages{
        display: none;
    }
}
